.HomePage {
    width: 100%;
    display: flex;
    flex-direction: column;

    .BodyProjects {
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    .Main {
        $bannerHeight: 440px;
        width: calc(100% - 6rem);
        min-height: $bannerHeight;
        padding: 0 3rem;
        position: relative;
        box-shadow: 0 1px var(--gray-a4);

        & *,
        * {
            user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .Banner {
            width: 100%;
            height: $bannerHeight;

            .BannerInner {
                margin-right: 4rem;
                top: 20px !important;
                background-size: 250px !important;
                background-position: top right !important;
                background-repeat: no-repeat !important;
            }
        }

        .Info {
            position: absolute;
            bottom: 20%;
            left: 3rem;
            width: calc(100% - 600px);
            display: flex;
            flex-direction: column;

            .Hello {
                --text-color: #12a594;
                background: radial-gradient(circle 300px at 30% -180%, var(--text-color) 0%, #ffffff 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 4px rgba(255, 255, 255, .1), 0 0 14px rgba(130, 168, 236, .2);
            }
        }

        @media only screen and (max-width: 768px) {
            $bannerHeight: 100dvh;
            height: $bannerHeight;
            width: calc(100% - 2rem);
            padding: 0 1rem;

            .Info {
                width: calc(100% - 2rem);
                top: 100px;
                left: 1rem;
            }

            .Banner {
                height: $bannerHeight;

                .BannerInner {
                    margin-right: 0;
                    background-position: top center !important;
                    top: 200px !important;
                    background-size: 350px !important;
                }
            }

        }
    }

    .Section {
        width: calc(100% - 4rem);
        margin: 0 2rem;
        margin-top: 2rem;

        .Heading {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;

            .Icons {
                backdrop-filter: blur(30px);
                -webkit-backdrop-filter: blur(30px);
            }
        }

        .TechCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .TechLogo {
                width: 30px;
                height: 30px;
                border-radius: 3px;
                object-fit: contain;
                object-position: center;
            }
        }

        .Projects {
            display: flex;
            width: 100%;
            height: 100%;
            min-height: 145px;
            flex-direction: column;
            padding: 0;

            .ProjectImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                filter: blur(2px);
                position: absolute;
                z-index: -1;
                mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1));
            }

            .ProjectInfoContainer {
                padding-top: var(--base-card-padding-top);
                padding-bottom: var(--base-card-padding-bottom);
                padding-left: var(--base-card-padding-left);
                padding-right: var(--base-card-padding-right);

                .ProjectTech {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0.3rem;

                    span {
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                    }
                }

                .ProjectInfo {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.8rem;
                    gap: 0.5rem;
                    margin-bottom: 1rem;
                }

                .space {
                    height: 100%;
                }

                .Action {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 0.5rem;
                }
            }
        }

        .BodyAbout {
            width: 100%;

            .BannerAbout {
                width: 100%;
                border-radius: 8px;
                border: 1px solid var(--gray-a4);
            }

            .Content {
                margin: auto;
                padding: 1rem 0;
                max-width: 900px;
            }
        }

        .BodyContact {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .List {
                margin: 1rem 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
        }
    }

}